<h1>
    All Lists --
    <span>
        <a href="/lists/add">CREATE A NEW LIST</a>
    </span>
</h1>

{{#each lists}}
<div class="list-block col-sm-4">
    <h3 class="list-title col-sm-12">
        <a href=" /lists/{{this._id}} ">{{this.name}}</a>
    </h3>
    <p class="list-info">created by: {{this.list_creators.name}} || location: {{this.location}}</p>

    <a class="d-inline" href="/lists/{{this._id}}/edit">EDIT</a>

    <form class="d-inline" action="/lists/{{this._id}}/delete" method="post">
        <button type="submit" class="delete ">DELETE</button>
        <input type="hidden" name="_id">
    </form>


</div> {{/each}}