<h1>
    My Lists
</h1>

<h2>
    <a href="/lists/add">CREATE A NEW LIST</a>
</h2>

{{#each lists }}
<div class="list-block col-sm-6">
    <h3 class="list-title col-sm-12">
        <a href="/lists/{{this._id}} ">{{this.name}}</a>
    </h3>
    <h5 class="list-info">location: {{this.location}}</h5>
    <a class="d-inline" href="/lists/{{this._id}}/edit">EDIT</a>

    <form class="d-inline" action="/lists/{{this._id}}/delete" method="post">
        <button type="submit" class="delete ">DELETE</button>
        <input type="hidden" name="_id">
    </form>

</div> {{/each}} {{!-- ------------------------------ --}}