<div class="list-head d-flex flex-row center">
    <div class="flex-row">

        <div class="home-head d-flex flex-row flex-wrap">
            <img class="logo-home flex-row" src="../images/logo.png ">
            </img>
        </div>

        <h2 class="title">
            My Lists
        </h2>

        <span>
            <a class="btn-primary button-home" href="/lists/add ">Create a new list</a>

        </span>

        </h2>
    </div>
    <div class="list-map flex-row" id="map"></div>

</div>
<div class="nav-border"></div>

<br>
<br>
<div class="d-flex flex-row flex-wrap center">
    {{#each lists }}
    <div class="list-detail">
        <h2 class="list-title col-sm-12">
            <a href="/lists/{{this._id}}">{{this.name}}</a>
        </h2>
        <h5 class="list-info">location: {{this.location}}</h5>
        <h5 class="list-info"># of items: {{this.items.length}}</h5>

        <a class="btn-secondary d-inline" href="/lists/{{this._id}}/edit">EDIT</a>





        <form class="d-inline" action="/lists/{{this._id}}/delete" method="post">
            <button type="submit " class="delete">DELETE</button>

            <input type="hidden" name="_id">
        </form>

    </div> {{/each}}

</div>

<div id="map">

    <div id="map"></div>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span>
        <br>
        <span id="place-address"></span>
    </div>
</div>
</div>