<h2>Add a Item</h2>

<h4>Add an item to list: {{ list.name}}</h4>
{{!--
<form action="/item/item-add/{{list._id}}" method="POST" id="form-container"> --}}
    <form action="/lists/item-add/{{list._id}}" method="POST" id="form-container">

        <input id="lat" type="hidden" name="lat" value="2">
        <input id="lng" type="hidden" name="lng" value="1">

        <div class="input-group">

            <label for="name">Name:</label>
            <input id="name" type="text" name="name" placeholder="Item name" class="form-control">
        </div>

        <br>
        <br>

        <label for="location">Location:</label>
        <input id="pac-input" type="text" name="location" placeholder="i.e. Florida, Miami, or USA">
        <br>

        <div id="type-selector" class="pac-controls">
            <input type="radio" name="type" id="changetype-all" checked="checked">
            <label for="changetype-all">All</label>

            <input type="radio" name="type" id="changetype-establishment">
            <label for="changetype-establishment">Establishments</label>

            <input type="radio" name="type" id="changetype-address">
            <label for="changetype-address">Addresses</label>

            <input type="radio" name="type" id="changetype-geocode">
            <label for="changetype-geocode">Geocodes</label>
        </div>
        <br>
        <div id="strict-bounds-selector" class="pac-controls">
            <input type="checkbox" id="use-strict-bounds" value="">
            <label for="use-strict-bounds">Strict Bounds</label>
        </div>
        <br>

        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="food + drink">Food + Drink</option>
            <option value="lodging">Lodging</option>
            <option value="nightlife">Night Life</option>
            <option value="music">Music</option>
            <option value="culture + arts">Culture + Arts</option>
            <option value="outdoors">Outdoors</option>
            <option value="sports">Sports</option>
            <option value="kids">kids</option>
            <option value="festivals + fairs">Festivals + Fairs</option>
            <option value="fun">Fun</option>
            <option value="off-beat">Off-beat</option>
            <option value="misc">Misc</option>
        </select>
        <br>
        <br>

        <label for="visitDate">Visit Date</label>
        <input id="visitDate" type="date" name="visitDate">
        <br>
        <br> {{!--
        <label for="img">Images:</label>
        <input id="img" type="img" name="img">
        <br>
        <br> --}}

        <label for="link">Link:</label>
        <input id="link" type="text" name="link" placeholder="Link to Website">
        <br>
        <br>
        <label for="notes">Notes:</label>
        <input id="notes" type="text" name="notes" placeholder="Max 200 Characters">
        <br>
        <br>


        <br> {{#if message}}
        <div class=" error-message ">{{ message }}</div>
        {{/if}}

        <button>Create Item</button>


    </form>

    <br>
    <br>
    <br>
    <p> Bring me back to list:
        <a href="/lists/{{this._id}}">{{list.name}}</a>
    </p>

    <div class="col-sm-12" id="map">

        <div id="map"></div>
        <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name" class="title"></span>
            <br>
            <span id="place-address"></span>
        </div>
    </div>
    </div>