<h1>LIST</h1>

<p>Name: {{list.name}}</p>
<p>created by: {{list.list_creators.name}}</p>
<p>location: {{list.location.type}}</p>
<p>purpose: {{list.purpose}}</p>
<p>public: {{list.public}}</p>

<a href="/lists">My Lists</a>