<h1>LIST</h1>

<p>Name: {{list.name}}</p>

<p>created by: {{list.list_creators.name}}</p>
<p>location: {{list.location}}</p>
<p>purpose: {{list.purpose}}</p>
<p>public: {{list.public}}</p>

<a href="/lists">My Lists</a>
<br>
<br>

<a href="/lists/item-add/{{list._id}}">ADD AN ITEM</a>

