<h1>USER PROFILE</h1>
<img src="{{user.avatar}}">
<p>Username: {{user.username}}</p>
<p>City: {{user.city}}</p>
<p>State: {{user.state}}</p>
<p>Country: {{user.country}}</p>
<p>Email: {{user.email}}</p>